<h2>Manage your Cheatsheets</h2>
<hr />
<% @sheets.each do |sheet| %>
<div class="sheetIndex">
  <h3><%= link_to sheet.name, sheet %></h3>
  <p><%= sheet.description %></p>
  <ul>
    <li><%= link_to 'Edit', edit_sheet_path(sheet) %></li>
    <li><%= link_to 'Delete', sheet, :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
  <div class="clear">&nbsp;</div>
</div>
<% end %>
<hr />
<%= link_to 'Create Sheet', new_sheet_path, :class => 'button' %>