<h1>Listing blocks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Template</th>
    <th>Content</th>
    <th>Cheat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blocks.each do |block| %>
  <tr>
    <td><%= block.name %></td>
    <td><%= block.position %></td>
    <td><%= block.template %></td>
    <td><%= block.content %></td>
    <td><%= block.cheat %></td>
    <td><%= link_to 'Show', block %></td>
    <td><%= link_to 'Edit', edit_block_path(block) %></td>
    <td><%= link_to 'Destroy', block, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Block', new_block_path %>
