<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @block.name %>
</p>

<p>
  <b>Column:</b>
  <%= @block.column %>
</p>

<p>
  <b>Position:</b>
  <%= @block.position %>
</p>

<p>
  <b>Sheet:</b>
  <%= @block.sheet %>
</p>


<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
