<h1>Listing cheats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Preview</th>
    <th>Position</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cheats.each do |cheat| %>
  <tr>
    <td><%= cheat.name %></td>
    <td><%= cheat.preview %></td>
    <td><%= cheat.position %></td>
    <td><%= cheat.category %></td>
    <td><%= link_to 'Show', cheat %></td>
    <td><%= link_to 'Edit', edit_cheat_path(cheat) %></td>
    <td><%= link_to 'Destroy', cheat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cheat', new_cheat_path %>
