<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<p>
  <b>Column:</b>
  <%= @category.column %>
</p>
<p>
  <b>Position:</b>
  <%= @category.position %>
</p>
<p>
  <b>Sheet:</b>
  <%= @category.sheet %>
</p>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>