<!DOCTYPE html>
<html>
<head>
  <title>CheatsheetCmsRails</title>
  <link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet/less" href="/stylesheets/cheatsheet.less" type="text/css">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="head">
    <div id="title">
      <div class="inside">
        <h1>Welcome to Cheatsheet-CMS-Rails</h1>
        <h2>Developers place for creating and sharing Cheatsheets</h2>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="border">
      <div id="colLeft">
        <% flash.each do |key, value| %><div class="flash <%= key %>"><%= key %>: <%= value %></div><% end %> 
        <%= yield %>
      </div>
      <div id="colRight">
        <% if user_signed_in? %>
          <p>Welcome <span><%= current_user.email %></span></p>
          <ul>
            <li><%= link_to "Manage Cheatsheets", sheets_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path %></li>
          </ul>
        <% else %>
          <%= form_tag(new_user_session_path) %>
          <dl>
            <dt><%= label_tag 'user[email]', 'E-Mail' %></dt>
            <dd><%= text_field_tag 'user[email]' %></dd>
            <dt><%= label_tag 'user[password]', 'Password' %></dt>
            <dd><%= text_field_tag 'user[password]' %></dd>
            <dd>
                <%= check_box_tag 'user[remember_me]', 1, false, :class => 'check' %><label for="user_remember_me">Remember me</label>
				        <%= submit_tag "Login »", :class => 'submit' %>
			      </dd>
          </dl>
          <ul>
            <li><%= link_to "Create Account", new_user_registration_path %></li>
      		  <li><%= link_to "Password forgotten?", new_user_password_path %></li>
      		</ul>
        <% end %>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
</body>
</html>