<!DOCTYPE html>
<html>
<head>
  <title>CheatsheetCmsRails</title>
  <link rel="stylesheet/less" href="/stylesheets/cheatsheet.less" type="text/css">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="cheatsheet">
    <% flash.each do |key, value| %><div class="flash <%= key %>"><%= key %>: <%= value %></div><% end %>
    <div id="cheatsheetTabs">
      <ul>
        <li>...</li>
        <% @sheets.each do |sheet| %>
          <li><%= link_to sheet.name, sheet_path(sheet) %></li>
        <% end %>
        <li><%= link_to 'Back', sheets_path %></li>
        <li><%= link_to 'New Block', new_sheet_block_path(@sheet) %></li>
        <li>...</li>
      </ul>
    </div>
    <div id="columnLeft">
      <%= render :partial => "sheets/block", :object => @sheet, :as => :sheet, :locals => { :column => "left" } %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="columnRight">
      <%= render :partial => "sheets/block", :object => @sheet, :as => :sheet, :locals => { :column => "right" } %> 
    </div>
    <div class="clear">&nbsp;</div>
  </div>
</body>
</html>