<!DOCTYPE html>
<html>
<head>
  <title>CheatsheetCmsRails</title>
  <link rel="stylesheet/less" href="/stylesheets/cheatsheet.less" type="text/css">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
	<script type="text/javascript">
	jQuery(document).ajaxSend(function(event, request, settings) {
	  request.setRequestHeader("Accept", "text/javascript");
	 	request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
	  request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	  if (settings.type.toUpperCase() == 'GET' || typeof(AUTH_TOKEN) == "undefined") return;
	  settings.data = settings.data || "";
	  if (typeof(AUTH_TOKEN) != "undefined") settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(AUTH_TOKEN);
	});
	</script>
</head>
<body>
  <div id="head">
    <div id="title">
      <div class="inside">
        <h1>Welcome to Cheatsheet-CMS-Rails</h1>
        <h2>Developers place for creating and sharing Cheatsheets</h2>
      </div>
    </div>
  </div>
  <div id="cheatsheet">
    <%= link_to 'Back to overview', sheets_path(), :class => 'back' %>
    <ul class="actions">
      <li><%= @sheet.name %></li>
      <li><%= link_to 'Edit Sheet', edit_sheet_path(@sheet) %></li>
      <li><%= link_to 'Add Category', new_sheet_category_path(@sheet) %></li>
      <li><%= link_to 'Add Cheat', new_sheet_cheat_path(@sheet) %></li>
    </ul>
    <div class="clear">&nbsp;</div>
    <% flash.each do |key, value| %><div class="flash <%= key %>"><%= key %>: <%= value %></div><% end %>
    <div id="columnLeft">
      &nbsp;<%= render :partial => "sheets/category", :object => @sheet, :as => :sheet, :locals => { :column => "left" } %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="columnRight">
      &nbsp;<%= render :partial => "sheets/category", :object => @sheet, :as => :sheet, :locals => { :column => "right" } %> 
    </div>
    <div class="clear">&nbsp;</div>
  </div>
</body>
</html>